<a href="https://colab.research.google.com/github/Ritvik10/Data-Science-Overview-Material-Practice-and-Revision/blob/main/Day_25_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
#SYNTAX: pd.DataFrame(data, index, columns, dtype)

# Creation of a DataFrame

* Empty DataFrame

In [4]:
df = pd.DataFrame()

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
print(df)

Empty DataFrame
Columns: []
Index: []

* Creating a DataFrame from a List

In [7]:
data = [1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(data)
s = pd.Series(data)

In [8]:
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
df

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [10]:
data = [1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(data, columns=['Numbers'])
df

   Numbers
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10

In [11]:
data = [1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(data, columns=['Numbers', "Age"])
df

ValueError: ignored

In [12]:
data = [['Rohan', 24], ['Sarah', 67], ['Rohit', 18]]
df = pd.DataFrame(data, columns=["Name", 'Age'])
df

    Name  Age
0  Rohan   24
1  Sarah   67
2  Rohit   18

* Creating a DataFrame from a Dict

In [13]:
data = {"Height":[70.8, 90.5, 56, 23, 51],
        "Weight":[34, 78, 55.7, 120, 72],
        "Age":[10, 20, 30, 40, 50]}


df = pd.DataFrame(data)
df

   Height  Weight  Age
0    70.8    34.0   10
1    90.5    78.0   20
2    56.0    55.7   30
3    23.0   120.0   40
4    51.0    72.0   50

In [14]:
data = {"Height":[70.8, 90.5, 56, 23, 51],
        "Weight":[34, 78, 55.7, 120, 72],
        "Age":[10, 20, 30, 40, 50, 60, 70]}


df = pd.DataFrame(data)
df

ValueError: ignored

In [15]:
data = {"Height":[70.8, 90.5, 56, 23, 51],
        "Weight":[34, 78, 55.7, 120, 72],
        "Age":[10, 20, 30, 40, 50]}


df = pd.DataFrame(data, columns=["H", "W", "A"])
df

Empty DataFrame
Columns: [H, W, A]
Index: []

In [16]:
data = {"Height":[70.8, 90.5, 56, 23, 51],
        "Weight":[34, 78, 55.7, 120, 72],
        "Age":[10, 20, 30, 40, 50]}


df = pd.DataFrame(data, index=["A", "B", "C", "D", "E","F"])
df

ValueError: ignored

* Creating a DataFrame from a List of Dicts

In [17]:
data = [{"Height": 56,
         "Weight": 89,
         "Age": 98,
         "Name": "Steve"},
        {"Height": 78,
         "Weight": 89,
         "Age": 98,
         "Name": "Tony"},
        {"Height": 56,
         "Weight": 89,
         "Age": 98,
         "Name": "Bruce",
         "Email": "xyz@xyz.xyz"},
        {"Country": "India"}]

df = pd.DataFrame(data)
df

   Height  Weight   Age   Name        Email Country
0    56.0    89.0  98.0  Steve          NaN     NaN
1    78.0    89.0  98.0   Tony          NaN     NaN
2    56.0    89.0  98.0  Bruce  xyz@xyz.xyz     NaN
3     NaN     NaN   NaN    NaN          NaN   India

* Creating a DataFrame from a Dict of Series

In [18]:
data = {"A": pd.Series([10, 20, 30, 40, 50]),
        "B": pd.Series([34, 45, 56, 67, 78]),
        "C": pd.Series([67, 89, 12, 34, 56])}

df = pd.DataFrame(data)
df

    A   B   C
0  10  34  67
1  20  45  89
2  30  56  12
3  40  67  34
4  50  78  56

# Column Operation

* Column Selection

In [19]:
df

    A   B   C
0  10  34  67
1  20  45  89
2  30  56  12
3  40  67  34
4  50  78  56

In [20]:
df.A # 1st SYNTAX

0    10
1    20
2    30
3    40
4    50
Name: A, dtype: int64

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
type(df.A)

pandas.core.series.Series

In [23]:
"Name of the student"

'Name of the student'

In [24]:
df.Name_of_the_student

AttributeError: ignored

In [25]:
df["A"] # 2nd SYNTAX

0    10
1    20
2    30
3    40
4    50
Name: A, dtype: int64

In [26]:
df[['A', 'C']]

    A   C
0  10  67
1  20  89
2  30  12
3  40  34
4  50  56

* Column Addition

In [27]:
df

    A   B   C
0  10  34  67
1  20  45  89
2  30  56  12
3  40  67  34
4  50  78  56

In [28]:
df['D'] = [2,2,3,4,5] # Python List

In [29]:
df

    A   B   C  D
0  10  34  67  2
1  20  45  89  2
2  30  56  12  3
3  40  67  34  4
4  50  78  56  5

In [30]:
df['E'] = pd.Series([10, 20, 30, 40, 50]) # Pandas Series
df['F'] = np.array([78, 56, 34,23, 12]) # NumPy array

In [31]:
df

    A   B   C  D   E   F
0  10  34  67  2  10  78
1  20  45  89  2  20  56
2  30  56  12  3  30  34
3  40  67  34  4  40  23
4  50  78  56  5  50  12

In [32]:
df['K'] = df['C'] - 10

In [33]:
df

    A   B   C  D   E   F   K
0  10  34  67  2  10  78  57
1  20  45  89  2  20  56  79
2  30  56  12  3  30  34   2
3  40  67  34  4  40  23  24
4  50  78  56  5  50  12  46

* Column Deletion

In [34]:
df

    A   B   C  D   E   F   K
0  10  34  67  2  10  78  57
1  20  45  89  2  20  56  79
2  30  56  12  3  30  34   2
3  40  67  34  4  40  23  24
4  50  78  56  5  50  12  46

In [35]:
del df['F']

In [36]:
df

    A   B   C  D   E   K
0  10  34  67  2  10  57
1  20  45  89  2  20  79
2  30  56  12  3  30   2
3  40  67  34  4  40  24
4  50  78  56  5  50  46

In [37]:
df.pop('K')

0    57
1    79
2     2
3    24
4    46
Name: K, dtype: int64

In [38]:
df

    A   B   C  D   E
0  10  34  67  2  10
1  20  45  89  2  20
2  30  56  12  3  30
3  40  67  34  4  40
4  50  78  56  5  50

In [39]:
df.drop(['C', 'E'], axis=1)

    A   B  D
0  10  34  2
1  20  45  2
2  30  56  3
3  40  67  4
4  50  78  5

In [40]:
newdf = df.copy()

In [41]:
newdf

    A   B   C  D   E
0  10  34  67  2  10
1  20  45  89  2  20
2  30  56  12  3  30
3  40  67  34  4  40
4  50  78  56  5  50

In [42]:
df.drop(['C', 'E'], axis=1, inplace=True)

In [43]:
df

    A   B  D
0  10  34  2
1  20  45  2
2  30  56  3
3  40  67  4
4  50  78  5

# Row Operation

* Row Selection

In [44]:
newdf

    A   B   C  D   E
0  10  34  67  2  10
1  20  45  89  2  20
2  30  56  12  3  30
3  40  67  34  4  40
4  50  78  56  5  50

In [47]:
"""
loc -> Locate
iloc
"""

'\nloc -> Locate\niloc\n'

In [48]:
newdf.loc[3]

A    40
B    67
C    34
D     4
E    40
Name: 3, dtype: int64

In [ ]:
newdf.iloc[3]

A    40
B    67
C    34
D     4
E    40
Name: 3, dtype: int64

In [49]:
data = {"Height": [1,2,3,4],
        "Age": [23, 45, 67, 89]}


df = pd.DataFrame(data, index=["A", "B", "C", "D"])

In [50]:
df

   Height  Age
A       1   23
B       2   45
C       3   67
D       4   89

In [51]:
df.loc['A'] # Label Based

Height     1
Age       23
Name: A, dtype: int64

In [52]:
df.iloc['A'] # Index Based

TypeError: ignored

In [53]:
df.iloc[0] # Index Based

Height     1
Age       23
Name: A, dtype: int64

In [54]:

df

   Height  Age
A       1   23
B       2   45
C       3   67
D       4   89

In [55]:
df[1:-1]

   Height  Age
B       2   45
C       3   67

* Row Addition

In [56]:
df

   Height  Age
A       1   23
B       2   45
C       3   67
D       4   89

In [57]:
df.loc['E'] = [56, 78]

In [58]:
df

   Height  Age
A       1   23
B       2   45
C       3   67
D       4   89
E      56   78

In [59]:
df.loc[5] = [98, 76]

In [60]:
df

   Height  Age
A       1   23
B       2   45
C       3   67
D       4   89
E      56   78
5      98   76

In [61]:
5
"5"

'5'

In [62]:
data = {"Height": [56, 78, 45, 78, 12],
        "Age": [87, 67, 54, 98, 32]}

df = pd.DataFrame(data)

In [63]:
data1 = {"Height": [23, 89],
        "Age": [67, 60]}

df1 = pd.DataFrame(data1)

In [64]:
df

   Height  Age
0      56   87
1      78   67
2      45   54
3      78   98
4      12   32

In [65]:
df1

   Height  Age
0      23   67
1      89   60

In [66]:
df = df.append(df1, ignore_index=True)

<ipython-input-66-82e78f3acf50>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df1, ignore_index=True)

In [67]:
df

   Height  Age
0      56   87
1      78   67
2      45   54
3      78   98
4      12   32
5      23   67
6      89   60

In [68]:
df

   Height  Age
0      56   87
1      78   67
2      45   54
3      78   98
4      12   32
5      23   67
6      89   60

In [69]:
df.loc[7] = [563, 870]

In [70]:
df

   Height  Age
0      56   87
1      78   67
2      45   54
3      78   98
4      12   32
5      23   67
6      89   60
7     563  870

In [71]:
df.loc[4]

Height    12
Age       32
Name: 4, dtype: int64

In [72]:
df.iloc[4] = [12, 42] # Value updation in a row

In [73]:
df.iloc[4]

Height    12
Age       42
Name: 4, dtype: int64

In [74]:
newdf = df.append(df1)

<ipython-input-74-c1b53a7110c9>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newdf = df.append(df1)

In [75]:
newdf

   Height  Age
0      56   87
1      78   67
2      45   54
3      78   98
4      12   42
5      23   67
6      89   60
7     563  870
0      23   67
1      89   60

In [76]:
newdf.loc[0]

   Height  Age
0      56   87
0      23   67

In [77]:
newdf.iloc[8]

Height    23
Age       67
Name: 0, dtype: int64

* Row Deletion

In [78]:
df

   Height  Age
0      56   87
1      78   67
2      45   54
3      78   98
4      12   42
5      23   67
6      89   60
7     563  870

In [79]:
df.drop(6, axis=1)

KeyError: ignored

In [80]:
# Data Exploration
# Data Manipulation
# Data Cleaning
# Importation of a Dataset
# Exportation of a Dataset